.service-card {
  border: solid 1px var(--primaryBorderColor);
  border-radius: 10px;
  background-color: var(--secondaryBgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 5%;
  height: 300px;
  width: 300px;
}

.service-card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.service-card-description {
  font-size: 1.25em;
  font-weight: 300;
}
