.btn-mobile-menu {
  display: none;
  height: 40px;
  width: 40px;
  background: transparent;
  border: solid 1px var(--primaryBorderColor);
  border-radius: 10px;
  color: var(--primaryTxtColor);
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .btn-mobile-menu {
    display: block;
  }
}
