.education-and-experiences {
  width: 80%;
  text-align: center;
  max-width: 600px;
  border: solid 1px var(--secondaryBorderColor);
  border-radius: 10px;
  background-color: var(--secondaryBgColor);
}

.education-and-experiences .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
}
