header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
