@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background: var(--primaryBgColor);
  color: var(--primaryTxtColor);
  font-family: "Open Sans", serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.8em;
  }
}

a {
  color: var(--primaryTxtColor);
  text-decoration: none;
}
