:root {
  --primaryBgColor: rgb(1, 5, 13);
  --secondaryBgColor: rgb(2, 7, 16);
  --primaryTxtColor: rgb(233, 233, 233);
  --secondaryTxtColor: rgb(124, 132, 252);
  --primaryBorderColor: rgba(255, 255, 255, 0.1);
  --secondaryBorderColor: rgb(255, 77, 210, 0.25);
}
