.offers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  padding: 4%;
}

.offers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 4%;
}

.offers-text h3 {
  font-size: 2em;
  text-align: center;
}

.offers-text span {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .offers {
    grid-template-columns: repeat(1, auto);
  }
}
